.myForm{
  width: 500px;
  height: fit-content;
  padding: 100px 20px;
  margin: 200px auto;
  border: 1px solid rgb(0, 30, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}
.myForm form input{
  font-size: 20px;
}

.login_page{
  max-width: 800px;
  margin: 50px auto;
  border: 1px solid #282c34;
  padding: 10px;
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
